*{

   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
} 

.hero{
   min-height: 400px;
   margin-top: 0;
   background-image: url(../images/pur.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
}
.header-scroll{
   
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
   z-index: 999999;
}
.navbar{
  border-top-left-radius: solid rgba(27, 11, 85, 0.973) !important;
   color:black;
   border: solid rgba(48,11 , 85, 0.973);
}.navbar-brand{
   font-weight:700;
   color: rgba(48, 11, 85, 0.973);;

}.cta{
   border: 2px solid #cf0983d0;
   border-radius: 4px;
   text-transform: uppercase;   
}
.navbar-nav a{
   color: black;
}
.cta:hover{
   background-color: #fd10ded0;
   color: #eee;
}
.text{
   color: #eee;
   font-weight: 15px;
}
.nav-link a{
   color: #fd10ded0;
}
.fonts{
   font-size: 20px;

}
.color{
   color:#0e0147;
   font-size: 15px;
}
.card{
   
   background-color: none;
   
   
}
.more{
   margin-top: 130px;
   padding-bottom: 50px;
}
.ore2{
   margin-bottom: 40px;
}
.feedback{
   border:solid #0e0147;
   margin-top: 30px;
   border-radius: 20px;
   
}
.mt{
   margin-top: 30px;
}
.button{
   background-color: rgba(27, 11, 85, 0.973);
   color: #eee;

}.fonts{
   font-size: 20px;
}
.tag{
   border-bottom:thick #0e0147;
   border-radius: 300%;
   width: 60%;
   justify-content: center;
}
.circle{
   border:solid #0e0147;
   width: 100%;
   justify-content: center;

}
.backgb{
   margin: 30px;
   border: red;
   
}
.box{
   display: block;
    
}
    
.small{
   font-size: 20px;   
}
.center{
   text-align:center;
}
.resize{
   height: 30px;
   line-height: 0;
   margin-top: 20px;
   
}
.bold{
   text-align: center;
   font-size: 80px;
   font-weight: bold;
}
.form{
   text-align: center;
}
.overlay{
   background-color:rgba(27, 11, 85, 0.973);
   color: #eee;
      
}
.res1{
   font-size: 18px;
   margin-top: 20px;
     
}



